$darkgray: #282828;
$gray: #c0c0c0;
$lightgray: #f3f3f3;
$yellow: #8a6d3b;
$lightyellow: #fcf8e3;
$red: #a94442;
$lightred: #f2dede;
$green: #3c763d;
$lightgreen: #dff0d8;
$blue: #31708f;
$lightblue: #d9edf7;
