@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  color: #282828;
  line-height: 1.5;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 80em;
  padding: 0 1em;
}

button {
  background: #f3f3f3;
  border: 0;
  cursor: pointer;
  display: inline-block;
  min-width: 2.5rem;
  padding: .5em .25em;
}
button:hover, button:focus {
  outline: 0;
}
button:before {
  color: #fff;
  font-weight: 600;
}
button.plus, button.minus {
  background: #3c763d;
}
button.close {
  background: #a94442;
}
button.close:before {
  content: "×";
}
button.plus:before {
  content: "+";
}
button.minus:before {
  content: "-";
}

label {
  white-space: nowrap;
}

label, input[type="text"], input[type="number"], select, .checkbox {
  height: 2.5em;
}

label, select {
  padding: .5em .25em;
}

input[type="text"], input[type="number"], .checkbox {
  padding: .5em;
}

input[type="text"], input[type="number"], select, .checkbox {
  border: 1px solid #c0c0c0;
  display: block;
  width: 100%;
}

input[type="text"] {
  background: #fcf8e3;
}

input[type="text"][disabled], input[type="number"][disabled], select[disabled] {
  background: #f2dede;
  cursor: not-allowed;
  opacity: .5;
}

.checkbox {
  cursor: pointer;
}
.checkbox input {
  margin-right: .25em;
}

.header,
.nav,
.help,
.footer {
  border: 1px solid #c0c0c0;
  margin: 1em 0;
  padding: 1em;
}

.header,
.nav,
.footer {
  background: #f3f3f3;
}
.header a,
.nav a,
.footer a {
  color: #31708f;
}
.header ul,
.nav ul,
.footer ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li,
.nav ul li,
.footer ul li {
  margin: 0 1em;
}

.header {
  margin-bottom: 0;
}
.header h1 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.nav {
  border-top: 0;
  margin-top: 0;
}
.nav ul {
  justify-content: space-around;
}
.nav a {
  text-decoration: none;
}
.nav a.active, .nav a:hover {
  color: #282828;
}

.help h2 {
  margin: 0 0 1rem;
  font-size: 1.15em;
  font-weight: 600;
}
.help p {
  margin: 0 0 1em;
}
.help p:last-child {
  margin-bottom: 0;
}
.help a {
  color: #31708f;
  cursor: pointer;
  text-decoration: underline;
}

.footer ul {
  justify-content: center;
}

.starting {
  border: 1px solid #282828;
  padding: 5em 0;
  text-align: center;
}

.output {
  background: #dff0d8;
  border: 1px solid #3c763d;
  color: #3c763d;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}
.output.error {
  background: #f2dede;
  border-color: #a94442;
  color: #a94442;
}

.examples {
  display: flex;
  border: 1px solid #31708f;
  margin-bottom: 1em;
}
.examples label {
  background: #d9edf7;
  border-right: 1px solid #31708f;
  color: #31708f;
  padding: .5em;
}
.examples select {
  flex: 1;
  border: 0;
}

.elaboration,
.nucleus {
  border: 1px solid #31708f;
}

.heading {
  background: #d9edf7;
  border-bottom: 1px solid #31708f;
  color: #31708f;
  display: flex;
  font-weight: 600;
}
.heading .title {
  padding: .5em;
  flex: 1;
}

.elaborations {
  border-bottom: 1px solid #31708f;
  display: none;
  padding: .25em;
}
.elaborations div {
  display: flex;
}
.elaborations div .button {
  flex: 1;
  margin: .25em;
}
.elaborations div .button:hover {
  background: #282828;
  color: #fff;
}
.elaborations.active {
  display: block;
}

.body .factor, .body .elaboration, .body .nucleus {
  margin: .25em;
}

.factor {
  display: flex;
}
.factor .label {
  flex: 0 0 6em;
  font-weight: 600;
}
.factor .inputs {
  display: flex;
  flex: 1;
}
.factor .input {
  flex: 1;
  margin-left: .25em;
}

/*# sourceMappingURL=screen.css.map */
