header {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: $black;
  color: #fff;
  padding: .5em;
  font-size: 1.25em;
  a {
    display: block;
    text-decoration: none;
    padding: 0 .5em;
    &:first-child {
      font-weight: 600;
    }
  }
}
