nav {
  position: fixed;
  overflow: auto;
  z-index: 2;
  top: 3.125rem;
  bottom: 0;
  right: 0;
  width: 15rem;
  margin-right: -15rem;
  transition: .5s;
  background: $black;
  color: #fff;
  a {
    display: block;
    clear: both;
    text-decoration: none;
    padding: .5em 1em;
    &.active,
    &:hover {
      background-color: $darkgray;
    }
  }
  hr {
    margin: .5em 0;
    border: 1px solid #fff;
  }
  .github {
    img {
      height: 1.5em;
      margin-right: .5em;
      margin-bottom: -0.3em;
    }
  }
  &.open {
    margin-right: 0;
  }
}
