$black: #282828;
$darkgray: #909090;
$gray: #dfe2e5; //#f3f3f3;
$lightgray: #f6f8fa;
$yellow: #8a6d3b;
$lightyellow: #fcf8e3;
$red: #d73a49; //#a94442;
$lightred: #f2dede;
$green: #3c763d;
$lightgreen: #dff0d8;
$blue: #005cc5; //#31708f;
$lightblue: #d9edf7;
