.victor {
  max-width: 60rem;
  .starting {
    border: 1px solid $darkgray;
    padding: 5em 0;
    text-align: center;
  }
  .output {
    background: $lightgreen;
    border: 1px solid $green;
    color: $green;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    &.error {
      background: $lightred;
      border-color: $red;
      color: $red;
    }
  }
  .examples {
    display: flex;
    border: 1px solid $darkgray;
    margin-bottom: 1em;
    label {
      background: $lightblue;
      border-right: 1px solid $darkgray;
      padding: .5em;
    }
    select {
      flex: 1;
      border: 0;
    }
  }
  .elaboration,
  .nucleus {
    border: 1px solid $darkgray;
  }
  .heading {
    background: $lightblue;
    border-bottom: 1px solid $darkgray;
    display: flex;
    font-weight: 600;
    .title {
      padding: .5em;
      flex: 1;
    }
  }
  .elaborations {
    border-bottom: 1px solid $darkgray;
    display: none;
    padding: .25em;
    div {
      display: flex;
      .button {
        flex: 1;
        margin: .25em;
        &:hover {
          background: $darkgray;
          color: #fff;
        }
      }
    }
    &.active {
      display: block;
    }
  }
  .body {
    .factor, .elaboration, .nucleus {
      margin: .25em;
    }
  }
  .factor {
    display: flex;
    .label {
      flex: 0 0 6em;
      font-weight: 600;
    }
    .inputs {
      display: flex;
      flex: 1;
    }
    .input {
      flex: 1;
      margin-left: .25em;
    }
  }
}
